*{
    box-sizing: border-box;
}
body {
    background: rgb(178, 255,255);
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
    body{
    
       background: brown;
    }
    
}

@font-face {
    font-family: mario;
    src: url(tipografias/SuperMario256.ttf);
}

.negro {
    color: black;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: black;
}

.rojo {
    color:red;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color:red;
}

.azul {
    color:cornflowerblue
}

.capa0 {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}

.capa1 {
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: 100;
    animation-name: 23%;
    height: 100PX;
}

.capa2 {
    position: absolute;
    left: 10px;
    top: 0px;
    z-index: 200;
    animation-name: 22%;
}

.capa3 {
    position: absolute;
    left: 100px;
    top: 500px;
    width: calc(50% - 150px);
    z-index: 200;
}

.anima1{
    position: relative;
    animation: tortuga 5s infinite;
    height: 200px;
}

@keyframes tortuga {
    0%   {top: 300px;}
    25%  {top: 400px;}
    75%  {top: 50px; ;}
    100% {top: 100px;width: 20px; height: 20px;}
  }
 
.anima2 {
    position: relative;
    max-width: 50vh;
    animation: mario 13s infinite;
    height: 200px;
}

@keyframes tortuga {
    0%   {top: 300px; left: auto;}
    25%  {top: 400px;}
    75%  {top: 50px; ;}
    100% {top: 100px;width: 20px; height: 20px;}
  }

h1 {
    font-family: mario;
}
